<header>
  {%- if section.settings.announcement_text != blank and section.settings.show_announcement -%}
    <p class="announcement">
      {{ section.settings.announcement_text }}
    </p>
  {%- endif -%}
  <div class="header-content">
  <h2 class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>

  <nav class="header__menu desktop-only">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </nav>

  <button id="menu-open" class="burger-btn mobile-only"></button>

  <dialog id="mobile-menu" class="mobile-drawer">
    <nav class="mobile-drawer__nav">
      <ul>
        {% for link in section.settings.menu.links %}
          {{ link.title | link_to: link.url }}
        {% endfor %}
      </ul>
    </nav>
    <button id="menu-close" class="close-btn">
      close
    </button>
  </dialog>

  <div class="header__icons">
    {% if shop.customer_accounts_enabled %}
      <shopify-account menu="{{ section.settings.customer_account_menu }}">
        {{ 'icon-account.svg' | inline_asset_content }}
      </shopify-account>
    {% endif %}

    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
  </div>
</header>
<script src="{{ 'header.js' | asset_url }}" defer></script>
<style>
  {{ 'header-layout.css' | inline_asset_content }}
  {{ 'burger-menu.css' | inline_asset_content }}
</style>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "link_list",
      "id": "customer_account_menu",
      "label": "t:labels.customer_account_menu",
      "default": "customer-account-main-menu"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Показувати анонс",
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Текст анонсу",
      "default": "Безкоштовна доставка від 1000 грн"
    }
  ]
}
{% endschema %}
