{% liquid
  assign current_language_iso = localization.language.iso_code | default: request.locale.iso_code
  assign locale_prefix = current_language_iso | slice: 0, 2
  assign banner_subtitle = section.settings.home_banner_subtitle
  assign banner_title = section.settings.home_banner_title
  assign banner_cta_text = section.settings.home_banner_cta_text

  if banner_subtitle == blank or locale_prefix == 'uk'
    assign banner_subtitle = 'hero_banner.subtitle' | t
  endif

  if banner_title == blank or locale_prefix == 'uk'
    assign banner_title = 'hero_banner.title' | t
  endif

  if banner_cta_text == blank or locale_prefix == 'uk'
    assign banner_cta_text = 'hero_banner.cta' | t
  endif
%}

{{ 'hero-banner.css' | asset_url | stylesheet_tag }}
<section class="hero-banner">
  <figure class="hero-banner__figure">
  <picture>
    {%- if section.settings.home_banner_mobile != blank -%}
      <source media="(max-width: 767px)" srcset="{{ section.settings.home_banner_mobile | image_url: width: 767, height: 767 }}">
    {%- endif -%}
    
    {%- if section.settings.home_banner_desktop != blank -%}
      {{ section.settings.home_banner_desktop | image_url: width: 1500, height: 600 | image_tag: class: 'hero-banner__image', loading: 'eager' }}
    {%- else -%}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'hero-banner__image' }}
    {%- endif -%}
  </picture>
</figure>
  <div class="hero-banner__content">
    
      {%- if banner_subtitle != blank -%}
        <h2 class="hero-banner__subtitle">
          {{ banner_subtitle }}
        </h2>
      {%- endif -%}
      {%- if banner_title != blank -%}
        <h1 class="hero-banner__title">
          {{ banner_title }}
        </h1>
      {%- endif -%}
      {%- if banner_cta_text != blank and section.settings.home_banner_link != blank -%}
        <a href="{{ section.settings.home_banner_link }}" class="button hero-banner__btn">
          {{ banner_cta_text }}
        </a>
      {%- endif -%}
  </div>
</section>
{% schema %}
{
  "name": "t:general.hero_banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "home_banner_desktop",
      "label": "t:labels.banner_desktop_image"
    },
    {
      "type": "image_picker",
      "id": "home_banner_mobile",
      "label": "t:labels.banner_mobile_image"
    },
    {
      "type": "text",
      "id": "home_banner_subtitle",
      "label": "t:labels.subtitle",
      "default": "wooden toys made with care"
    },
    {
      "type": "text",
      "id": "home_banner_title",
      "label": "t:labels.heading",
      "default": "Handmade toys"
    },
    {
      "type": "text",
      "id": "home_banner_cta_text",
      "label": "t:labels.button_text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "home_banner_link",
      "label": "t:labels.button_link",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "t:general.hero_banner",
      "category": "t:general.content"
    }
  ]
}
{% endschema %}
