{{ 'hero-banner.css' | asset_url | stylesheet_tag }}
<section class="hero-banner">
  <figure class="hero-banner__figure">
  <picture>
    {%- if section.settings.home_banner_mobile != blank -%}
      <source media="(max-width: 767px)" srcset="{{ section.settings.home_banner_mobile | image_url: width: 767, height: 767 }}">
    {%- endif -%}
    
    {%- if section.settings.home_banner_desktop != blank -%}
      {{ section.settings.home_banner_desktop | image_url: width: 1500, height: 600 | image_tag: class: 'hero-banner__image', loading: 'eager' }}
    {%- else -%}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'hero-banner__image' }}
    {%- endif -%}
  </picture>
</figure>
  <div class="hero-banner__content">
    
      {%- if section.settings.home_banner_subtitle -%}
        <h2 class="hero-banner__subtitle">
          {{ section.settings.home_banner_subtitle }}
        </h2>
      {%- endif -%}
      {%- if section.settings.home_banner_title -%}
        <h1 class="hero-banner__title">
          {{ section.settings.home_banner_title }}
        </h1>
      {%- endif -%}
      {%- if section.settings.home_banner_cta_text != blank and section.settings.home_banner_link != blank -%}
        <a href="{{ section.settings.home_banner_link }}" class="button hero-banner__btn">
          {{ section.settings.home_banner_cta_text }}
        </a>
      {%- endif -%}
  </div>
</section>
{% schema %}
{
  "name": "Головний банер",
  "settings": [
    {
      "type": "image_picker",
      "id": "home_banner_desktop",
      "label": "Фото для банера десктопна версія"
    },
    {
      "type": "image_picker",
      "id": "home_banner_mobile",
      "label": "Фото для банера мобільна версія"
    },
    {
      "type": "text",
      "id": "home_banner_subtitle",
      "label": "Підзаголовок",
      "default": "дерев'яні іграшки з душею"
    },
    {
      "type": "text",
      "id": "home_banner_title",
      "label": "Заголовок",
      "default": "vlasnoruch.ua"
    },
    {
      "type": "text",
      "id": "home_banner_cta_text",
      "label": "Текст кнопки",
      "default": "Переглянути"
    },
    {
      "type": "url",
      "id": "home_banner_link",
      "label": "Посилання з кнопки",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "Головний банер",
      "category": "Image"
    }
  ]
}
{% endschema %}